.footer{
    background-color: var(--footer);
    width: 100%;
    height: auto;
    
}
.footer__img {
    margin-left: ;
    text-align:;

}
.footer__title {
    margin: left;
    text-align:left;
}
.footer__name {

}
.footer__text {

}
