.card {

}

.card__title {

}

.card__image {

}

.card__text {

}
.card__btn {
    background-color: var(--buttons);
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    margin-left: 8rem;
    color: black;
    
}
